<div class="container">
    <h2>The Shows</h2>
    
    <div class="card">
        <div class="card-header">
            Add Show(s)
            <a href="#" (click)="toggleCollapsed()">
                <i class="pull-right fa"
                   [class.fa-chevron-up]="collapsed === false"
                   [class.fa-chevron-down]="collapsed === true"></i>
            </a>
        </div>
        <div class="card-block" style="max-height: 300px; overflow-y: auto"
             [class.hidden]="collapsed === true">

            <div class="form-group row">
                <div class="col-10">
                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Search for Show"
                           [(ngModel)]="searchTerms" />
                </div>
                <button type="button" class="btn btn-primary" (click)="searchShows()">Search</button>
            </div>

            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>First Aired</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let show of shows"
                    [class.table-active]="show === selectedShow">
                    <td (click)="addShow(show)">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </td>
                    <td>{{show.name}}</td>
                    <td>{{show.status}}</td>
                    <td>{{show.firstAired | date: "MM/dd/yyyy"}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="card" style="margin-top: 15px;">
        <div class="card-header">
            My Shows
            <a href="#" (click)="refresh()">
                <i class="pull-right fa fa-refresh"></i>
            </a>
        </div>
        <div class="card-block">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>First Aired</th>
                        <th>Airs On</th>
                        <th>Last Aired</th>
                        <th>Next Airs</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let show of trackedShows">
                        <td>{{show.name}}</td>
                        <td>{{show.firstAiredDate | date: "MM/dd/yyyy"}}</td>
                        <td>{{show.airDay}}{{show.airTime != null && show.airTime.length > 0 ? 'at ' + airTime : ''}}</td>
                        <td>{{show.lastEpisode === null ? "N/A" : (show.lastEpisode.airDate | date: "MM/dd/yyyy")}}</td>
                        <td>{{show.nextEpisode === null ? "N/A" : (show.nextEpisode.airDate | date: "EEEE, LLLL dd, yyyy")}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
