<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShowReminder.Web</title>
    <link rel="stylesheet" href="/showreminder/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/showreminder/css/site.css" />
    <link rel="stylesheet" href="/showreminder/lib/font-awesome/css/font-awesome.css"/>
</head>
<body>
    <div>
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
